/* Bookish */
:root {
  --font-family-primary: reason-new, 'Work Sans', sans-serif !important;
  --primary-font: reason-new, 'Work Sans', sans-serif !important;
  --font-family-secondary: plantin, 'Nanum Myeongjo', serif !important;
  --secondary-font: plantin, 'Nanum Myeongjo', serif !important;
}
