/* Plantin */
:root {
  --font-family-primary: plantin, serif !important;
  --primary-font: plantin, serif !important;
  --font-family-secondary: plantin, serif !important;
  --secondary-font: plantin, serif !important;
}
